<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated reveal class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="../assets/logo.svg" />
          </q-avatar>
          Collect Nature!
        </q-toolbar-title>
      </q-toolbar>

      <q-tabs align="left">
        <q-route-tab to="/timeline" label="Timeline" />
        <q-route-tab to="/new" label="Neuer Fund" />
        <q-route-tab to="/funde/me" label="Funde" />
        <q-route-tab to="/freunde" label="Freunde" />
        <q-route-tab label="Logout" @click="logout" />
      </q-tabs>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-ajax-bar
      ref="bar"
      position="bottom"
      color="accent"
      size="10px"
      skip-hijack
    />
  </q-layout>
</template>

<script setup>
import { useRouter } from 'vue-router';

const router = useRouter();

async function logout() {
  localStorage.removeItem('authorization-token');
  await router.push('/');
}
</script>
