<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="../assets/logo.svg" />
          </q-avatar>
          Collect Nature!
        </q-toolbar-title>
      </q-toolbar>

      <q-tabs align="left">
        <q-route-tab to="/" label="Startseite" />
        <q-route-tab to="/register" label="Registrieren" />
        <q-route-tab to="/login" label="Einloggen" />
      </q-tabs>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer elevated class="bg-grey-8 text-white">
      <div class="row justify-between q-px-sm q-my-xs">
        <span class="text-caption">WHG © 2022</span>
        <div>
          <router-link class="text-caption q-mx-xs footer-link" to="/impressum"
            >Impressum</router-link
          >
          <span> | </span>
          <router-link
            class="text-caption q-mx-xs footer-link"
            to="/datenschutz"
            >Datenschutz</router-link
          >
        </div>
      </div>
    </q-footer>

    <q-ajax-bar
      ref="bar"
      position="bottom"
      color="accent"
      size="10px"
      skip-hijack
    />
  </q-layout>
</template>
