<template>
  <q-page class="row items-top justify-evenly">
    <div class="q-pa-md q-gutter-y-md">
      <h4 class="q-mb-none">Freunde Suchen</h4>
      <q-input
        v-model="suchString"
        debounce="500"
        filled
        placeholder="Suchen"
        @update:model-value="onSubmit"
        hint="Nach Teilen des Benutzernamens suchen"
      >
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
      <q-list bordered>
        <q-item
          v-for="benutzer in alleBenutzer"
          :key="benutzer.benutzerId"
          class="q-my-sm"
          clickable
          v-ripple
        >
          <q-item-section avatar>
            <q-avatar
              :color="getAvatarColor(benutzer.benutzername)"
              text-color="white"
            >
              {{ benutzer.benutzername.substring(0, 2) }}
            </q-avatar>
          </q-item-section>

          <q-item-section>
            <q-item-label>{{ benutzer.benutzername }}</q-item-label>
            <q-item-label caption lines="1">{{ benutzer.email }}</q-item-label>
          </q-item-section>

          <q-item-section side @click="follow(benutzer)">
            <q-icon name="add" color="green" />
          </q-item-section>
        </q-item>
      </q-list>

      <q-separator />
      <h4 class="q-mb-none">Du folgst</h4>
      <q-list bordered>
        <q-item
          v-for="freund in freunde"
          :key="freund.benutzerId"
          class="q-my-sm"
          clickable
          v-ripple
        >
          <q-item-section avatar @click="gotoFunde(freund.benutzerId)">
            <q-avatar
              :color="getAvatarColor(freund.benutzername)"
              text-color="white"
            >
              {{ freund.benutzername.substring(0, 2) }}
            </q-avatar>
          </q-item-section>

          <q-item-section @click="gotoFunde(freund.benutzerId)">
            <q-item-label>{{ freund.benutzername }}</q-item-label>
            <q-item-label caption lines="1">{{ freund.email }}</q-item-label>
          </q-item-section>

          <q-item-section side @click="unfollow(freund)">
            <q-icon name="remove" color="red" />
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { useFetchWrapper } from '../util/fetchWrapper';
import { useQuasar } from 'quasar';
import { useRouter } from 'vue-router';
import { getAvatarColor } from '../util/avatarColor';

const fetcher = useFetchWrapper();
const router = useRouter();
const q = useQuasar();

const suchString = ref('');
const alleBenutzer = ref([]);
const freunde = ref([]);

onMounted(freundeLaden);

async function onSubmit() {
  if (!suchString.value) {
    alleBenutzer.value = [];
    return;
  }

  const payload = {
    suchString: suchString.value,
  };

  const response = await fetcher.post('/freunde-suchen', payload);
  alleBenutzer.value = await response.json();
}

async function follow(benutzer) {
  await fetcher.post(`/folgen/${benutzer.benutzerId}`);
  q.notify({
    message: `Du folgst nun ${benutzer.benutzername}!`,
    color: 'primary',
  });
  alleBenutzer.value = [];
  suchString.value = '';
  await freundeLaden();
}

async function freundeLaden() {
  const result = await fetcher.get('/freunde');
  freunde.value = await result.json();
}

async function unfollow(benutzer) {
  await fetcher.post(`/entfolgen/${benutzer.benutzerId}`);
  q.notify({
    message: `Du folgst nun ${benutzer.benutzername} nicht mehr!`,
    color: 'orange',
  });
  await freundeLaden();
}

async function gotoFunde(benutzerId) {
  await router.push('/funde/' + benutzerId);
}
</script>
