<template>
  <q-page class="row items-center justify-evenly">
    <div class="q-pa-md">
      <q-infinite-scroll @load="fetchFunde" :offset="800">
        <h4 :hidden="myFunde">{{ headline }}</h4>
        <q-card
          v-for="fund in funde"
          :key="fund.fundId"
          class="q-my-md"
          style="max-width: min(90vw, 500px)"
        >
          <img :src="fund.bildUrl"/>
          <q-card-section horizontal>
            <q-card-section vertical class="col-10">
              <div class="text-h6">{{ fund.name }}</div>
              <div class="text-subtitle2">
                {{ fund.ort }} - {{ fund.datum }}
              </div>
              <div class="text-subtitle3" style="word-wrap: break-word;">{{ fund.beschreibung }}</div>
            </q-card-section>
            <q-card-actions vertical class="justify-center">
              <q-btn
                flat
                round
                :color="getGefaelltColor(fund)"
                icon="favorite"
                @click="toggleGefaellt(fund)"
              />
              <caption>
                {{
                  fund.gefaelltCount
                }}
              </caption>
              <q-icon size="24px" color="green" name="local_florist" class="q-mx-sm"></q-icon>
              <caption>
                {{ fund.avgBewertung }}
              </caption>
            </q-card-actions>
          </q-card-section>
          <q-card-section v-if="fund.gefaellt">
            <q-card-actions horizontal class="justify-center">
              <q-rating
                @update:model-value="(newRating) => setRating(fund, newRating)"
                v-model="fund.myBewertung"
                size="2em"
                color="green-5"
                icon="local_florist"
              />
            </q-card-actions>
          </q-card-section>
        </q-card>
        <template v-slot:loading>
          <div class="row justify-center q-my-md">
            <q-spinner-dots color="primary" size="40px"/>
          </div>
        </template>
      </q-infinite-scroll>
    </div>
  </q-page>
</template>

<script setup>
import {onBeforeMount, ref} from 'vue';
import {useFetchWrapper} from '../util/fetchWrapper';
import {useRoute} from 'vue-router';

const funde = ref([]);
const headline = ref('');
const fetcher = useFetchWrapper();
const route = useRoute();
const myFunde = ref(true);

onBeforeMount(() => {
  if (route.params.benutzerId !== 'me') {
    myFunde.value = false;
  }
});

async function fetchFunde(index, done) {
  const benutzerId = route.params.benutzerId;
  let fetchUrl = '/funde/' + benutzerId;
  if (funde.value.length !== 0) {
    fetchUrl = fetchUrl + '/' + funde.value.at(funde.value.length - 1).fundId;
  }

  const response = await fetcher.get(fetchUrl);
  const json = await response.json();
  headline.value = 'Funde von ' + json.benutzername;
  funde.value = funde.value.concat(
    json.funde.map((fund) => {
      return {
        ...fund,
        bildUrl: `${process.env.API_URL}${fund.bildUrl}`,
      };
    })
  );

  const doNotTryToLoadMore = json.funde.length === 0;
  done(doNotTryToLoadMore);
}

function getGefaelltColor(fund) {
  return fund.gefaellt ? 'red' : 'grey';
}

async function toggleGefaellt(fund) {
  if (!fund.gefaellt) {
    fund.gefaellt = true;
    fund.gefaelltCount++;
    await fetcher.post('/gefaellt/' + fund.fundId);
    await refreshBewertung(fund);
  } else {
    fund.gefaellt = false;
    fund.myBewertung = 0;
    fund.gefaelltCount--;
    await fetcher.post('/gefaellt-nicht-mehr/' + fund.fundId);
    await refreshBewertung(fund);
  }
}

async function setRating(fund, newRating) {
  await fetcher.post('/rating/' + fund.fundId + '/' + newRating);
  await refreshBewertung(fund);
}

async function refreshBewertung(fund) {
  const response = await fetcher.get('/rating/' + fund.fundId + '/avg')
  const avgBewertung = await response.text();
  const avgBewertungSanitized = avgBewertung % 1 === 0 ? parseInt(avgBewertung) : avgBewertung;
  funde.value = funde.value.map((currFund) => {
    if (currFund.fundId === fund.fundId) {
      return {
        ...currFund,
        avgBewertung: avgBewertungSanitized
      }
    }
    return currFund;
  });
}
</script>
