<template>
  <q-page class="row items-center justify-evenly" style="max-width: 600px">
    <div class="q-pa-md">
      <h4>Impressum</h4>
      <h5 id="m46">Diensteanbieter</h5>
      <p>Benjamin Knauer</p>
      <p>Städtisches Wilhelm-Hittorf-Gymnasium</p>
      <p>Prinz-Eugen-Straße 27</p>
      <p>48151 Münster</p>
      <h5 id="m56">Kontaktmöglichkeiten</h5>
      E-Mail-Adresse:
      <p>
        <a href="mailto:benjamin.knauer@whg.ms.de">benjamin.knauer@whg.ms.de</a>
      </p>
      Telefon:
      <p>(02 51) 68 614-0</p>
      <h5 id="m65">Haftungs- und Schutzrechtshinweise</h5>
      <p>
        Haftungsausschluss: Die Inhalte dieses Onlineangebotes wurden sorgfältig
        und nach unserem aktuellen Kenntnisstand erstellt, dienen jedoch nur der
        Information und entfalten keine rechtlich bindende Wirkung, sofern es
        sich nicht um gesetzlich verpflichtende Informationen (z.B. das
        Impressum, die Datenschutzerklärung, AGB oder verpflichtende Belehrungen
        von Verbrauchern) handelt. Wir behalten uns vor, die Inhalte vollständig
        oder teilweise zu ändern oder zu löschen, soweit vertragliche
        Verpflichtungen unberührt bleiben. Alle Angebote sind freibleibend und
        unverbindlich.
      </p>
      <p>
        Links auf fremde Webseiten: Die Inhalte fremder Webseiten, auf die wir
        direkt oder indirekt verweisen, liegen außerhalb unseres
        Verantwortungsbereiches und wir machen sie uns nicht zu Eigen. Für alle
        Inhalte und Nachteile, die aus der Nutzung der in den verlinkten
        Webseiten aufrufbaren Informationen entstehen, übernehmen wir keine
        Verantwortung.
      </p>
      <p>
        Urheberrechte und Markenrechte: Alle auf dieser Website dargestellten
        Inhalte, wie Texte, Fotografien, Grafiken, Marken und Warenzeichen sind
        durch die jeweiligen Schutzrechte (Urheberrechte, Markenrechte)
        geschützt. Die Verwendung, Vervielfältigung usw. unterliegen unseren
        Rechten oder den Rechten der jeweiligen Urheber bzw. Rechteinhaber.
      </p>
      <p>
        Hinweise auf Rechtsverstöße: Sollten Sie innerhalb unseres
        Internetauftritts Rechtsverstöße bemerken, bitten wir Sie uns auf diese
        hinzuweisen. Wir werden rechtswidrige Inhalte und Links nach
        Kenntnisnahme unverzüglich entfernen.
      </p>
      <h5 id="m169">Bildnachweise</h5>
      Bildquellen und Urheberrechtshinweise:
      <p>
        Verwendetes Logo:
        <a href="https://www.freepik.com/vectors/growing-tree"
          >Growing tree vector created by rawpixel.com - www.freepik.com</a
        >
      </p>
      <p class="seal">
        <a
          href="https://datenschutz-generator.de/"
          title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
          Schwenke</a
        >
      </p>
    </div>
  </q-page>
</template>
