<template>
  <q-page class="row items-center justify-evenly">
    <div class="q-gutter-y-md column">
      <h3>Collect Nature!</h3>
      <caption>
        Das Social Network für Naturbegeisterte.
      </caption>
      <q-btn label="Registrieren" color="primary" @click="register" />
      <q-btn label="Einloggen" color="grey" @click="login" />
    </div>
  </q-page>
</template>

<script setup>
import { useRouter } from 'vue-router';
import { onBeforeMount } from 'vue';

const router = useRouter();

onBeforeMount(() => {
  if (localStorage.getItem('authorization-token')) {
    router.push('/timeline');
  }
});

async function login() {
  await router.push('/login');
}

async function register() {
  await router.push('/register');
}
</script>
