<template>
  <q-page class="row justify-center">
    <div class="column full-height full-width" style="max-width: 800px">
      <h4 style="text-align: center; margin:20px">Leaderboard 🏅</h4>
      <q-splitter
        v-model="splitterModel"
        horizontal
      >
        <template v-slot:before>
          <q-tabs
            v-model="tab"
            class="text-primary"
            style="height: 80px"
          >
            <q-tab name="funde" icon="local_florist" label="Funde"/>
            <q-tab name="likes" icon="favorite" label="Likes"/>
            <q-tab name="bewertung" icon="star" label="Bewertung"/>
          </q-tabs>
        </template>

        <template v-slot:after>
          <q-tab-panels
            v-model="tab"
            animated
            swipeable
            transition-prev="jump-up"
            transition-next="jump-up"
          >
            <q-tab-panel name="funde">
              <q-table
                class="my-sticky-column-table"
                title="Funde"
                :rows="funde"
                row-key="Benutzername"
                hide-bottom
              />
            </q-tab-panel>

            <q-tab-panel name="likes">
              <q-table
                class="my-sticky-column-table"
                title="Likes"
                :rows="likes"
                row-key="Benutzername"
                hide-bottom
              />
            </q-tab-panel>

            <q-tab-panel name="bewertung">
              <q-table
                class="my-sticky-column-table"
                title="Bewertung"
                :rows="bewertungen"
                row-key="Benutzername"
                hide-bottom
              />
            </q-tab-panel>
          </q-tab-panels>
        </template>
      </q-splitter>
    </div>
  </q-page>
</template>

<script setup>
import {ref} from 'vue'

const tab = ref('funde');
const splitterModel = ref(20);

const funde = ref([
  {
    Benutzername: 'Heide Witzka',
    Funde: 1337
  },
  {
    Benutzername: 'Iris Gleichen',
    Funde: 512
  },
  {
    Benutzername: 'Theo Retisch',
    Funde: 42
  },
  {
    Benutzername: 'Ernst Haft',
    Funde: 17
  },
  {
    Benutzername: 'Albert Tross',
    Funde: 7
  },
  {
    Benutzername: 'Moni Tor',
    Funde: 2
  },
])

const likes = ref([
  {
    Benutzername: 'Iris Gleichen',
    Likes: 372,
  },
  {
    Benutzername: 'Moni Tor',
    Likes: 123
  },
  {
    Benutzername: 'Heide Witzka',
    Likes: 89
  },
  {
    Benutzername: 'Theo Retisch',
    Likes: 27
  },
  {
    Benutzername: 'Ernst Haft',
    Likes: 12
  },
  {
    Benutzername: 'Albert Tross',
    Likes: 7
  },
])

const bewertungen = ref([
  {
    Benutzername: 'Heide Witzka',
    '⌀ Bewertung': 4.7
  },
  {
    Benutzername: 'Ernst Haft',
    '⌀ Bewertung': 4.2
  },
  {
    Benutzername: 'Theo Retisch',
    '⌀ Bewertung': 3.1
  },
  {
    Benutzername: 'Iris Gleichen',
    '⌀ Bewertung': 2.9
  },
  {
    Benutzername: 'Moni Tor',
    '⌀ Bewertung': 2.2
  },
  {
    Benutzername: 'Albert Tross',
    '⌀ Bewertung': 1.9
  },
])

</script>
