<template>
  <q-page class="row items-center justify-evenly">
    <q-form class="q-gutter-y-md column" @submit="onSubmit" greedy>
      <h5>Login</h5>
      <q-input
        rounded
        outlined
        v-model="benutzername"
        label="benutzername"
        :rules="[(val) => (val && val.length > 0) || 'Username erforderlich']"
      />
      <q-input
        rounded
        outlined
        v-model="password"
        label="Password"
        :type="isPwd ? 'password' : 'text'"
        :rules="[(val) => (val && val.length > 0) || 'Passwort erforderlich']"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <q-btn label="Login" type="submit" color="primary" />
    </q-form>
  </q-page>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useFetchWrapper } from '../util/fetchWrapper';

const fetcher = useFetchWrapper();
const router = useRouter();

const benutzername = ref('');
const password = ref('');
const isPwd = ref(true);

async function onSubmit() {
  const payload = {
    benutzername: benutzername.value,
    password: password.value,
  };
  const response = await fetcher.post('/auth/login', payload);
  if (!response.ok) {
    // TODO show error message
  }
  const { token } = await response.json();
  localStorage.setItem('authorization-token', token);
  await router.push('/timeline');
}
</script>
