<template>
  <q-page class="row items-center justify-evenly">
    <div class="q-pa-md">
      <q-form
        class="q-gutter-y-md column"
        ref="form"
        @submit="onSubmit"
        @reset="onReset"
        greedy
      >
        <q-input
          rounded
          outlined
          v-model="name"
          label="Name *"
          :rules="[(val) => (val && val.length > 0) || 'Name erforderlich']"
        />
        <q-input
          rounded
          outlined
          v-model="ort"
          label="Ort *"
          :rules="[(val) => (val && val.length > 0) || 'Ort erforderlich']"
        />

        <q-input
          rounded
          outlined
          v-model="datum"
          label="Datum *"
          :rules="[(val) => (val && val.length > 0) || 'Datum erforderlich']"
        >
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date v-model="datum" mask="YYYY-MM-DD HH:mm">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>

          <template v-slot:append>
            <q-icon name="access_time" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-time v-model="datum" mask="YYYY-MM-DD HH:mm" format24h>
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-time>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-input
          rounded
          outlined
          v-model="bemerkung"
          label="Bemerkung"
          type="textarea"
        />
        <q-uploader
          label="Foto auswählen"
          ref="uploader"
          accept="image/*"
          :url="uploadUrl"
          @uploaded="onImgUploaded"
          :headers="generateImgUploadHeaders"
          field-name="image"
          auto-upload
          hide-upload-btn
          :rules="[(val) => (val && val.length > 0) || 'Bild erforderlich']"
          style="width: 100%"
        />
        <q-btn
          label="Speichern"
          type="submit"
          color="primary"
          :loading="submitting"
          :disable="submitting"
        />
      </q-form>
    </div>
  </q-page>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useFetchWrapper } from 'src/util/fetchWrapper';
import { scroll, useQuasar } from 'quasar';

const q = useQuasar();
const fetcher = useFetchWrapper();
const router = useRouter();

const headline = ref();
const uploader = ref();
const form = ref();
const submitting = ref(false);

const name = ref('');
const ort = ref('');
const datum = ref(getCurrentDateString());
const bemerkung = ref('');
const imgUrlPath = ref('');

const uploadUrl = process.env.API_URL + '/image/upload';

async function onSubmit() {
  if (!imgUrlPath.value) {
    q.notify({
      message: 'Bitte ein Bild hochladen!',
      color: 'red',
    });
    return;
  }
  submitting.value = true;

  const payload = {
    name: name.value,
    bildUrl: imgUrlPath.value,
    beschreibung: bemerkung.value,
    ort: ort.value,
    datum: datum.value,
  };
  const response = await fetcher.post('/fund', payload);

  if (response.ok) {
    q.notify({
      message: 'Neuer Fund wurde angelegt!',
      color: 'primary',
      avatar: process.env.API_URL + imgUrlPath.value,
      actions: [
        { label: 'Meine Funde anzeigen', color: 'white', handler: goToFunde },
      ],
    });
  }
  submitting.value = false;
  onReset();
}

function goToFunde() {
  router.push('/funde/me');
}

function onReset() {
  name.value = '';
  ort.value = '';
  datum.value = getCurrentDateString();
  bemerkung.value = '';
  imgUrlPath.value = '';
  uploader.value.reset();
  scrollToElement(headline.value);
  form.value.reset();
  form.value.resetValidation();
}

function onImgUploaded(e) {
  const { path } = JSON.parse(e.xhr.responseText);
  imgUrlPath.value = path;
}

function scrollToElement(el) {
  const target = scroll.getScrollTarget(el);
  const offset = el.offsetTop;
  const duration = 500;
  scroll.setVerticalScrollPosition(target, offset, duration);
}

function generateImgUploadHeaders() {
  return [
    {
      name: 'Authorization',
      value: `Bearer ${localStorage.getItem('authorization-token')}`,
    },
  ];
}

function getCurrentDateString() {
  const now = new Date();
  const year = now.getFullYear();
  const month = String(now.getMonth() + 1).padStart(2, '0');
  const date = String(now.getDate()).padStart(2, '0');
  const hours = String(now.getHours()).padStart(2, '0');
  const minutes = String(now.getMinutes()).padStart(2, '0');
  return `${year}-${month}-${date} ${hours}:${minutes}`;
}
</script>
