<template>
  <q-page class="row items-center justify-evenly">
    <q-form
      class="q-gutter-y-md column justify-center"
      @submit="onSubmit"
      greedy
    >
      <h4>Registrieren</h4>
      <q-input
        rounded
        outlined
        v-model="benutzername"
        label="Username"
        :rules="[(val) => (val && val.length > 0) || 'Username erforderlich']"
      />
      <q-input
        rounded
        outlined
        v-model="password"
        label="Password"
        :type="isPwd ? 'password' : 'text'"
        :rules="[(val) => (val && val.length > 0) || 'Passwort erforderlich']"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <q-input
        rounded
        outlined
        v-model="passwordRepeat"
        label="Passwort (Wiederholung)"
        type="password"
        :rules="[(val) => (val && val.length > 0) || 'Passwort erforderlich']"
      />
      <q-btn
        label=" Registrieren
      "
        type="submit"
        color="primary"
      />
    </q-form>
  </q-page>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useFetchWrapper } from '../util/fetchWrapper';
import { useQuasar } from 'quasar';

const fetcher = useFetchWrapper();
const router = useRouter();
const q = useQuasar();

const benutzername = ref('');
const password = ref('');
const isPwd = ref(true);
const passwordRepeat = ref('');

async function onSubmit() {
  if (password.value !== passwordRepeat.value) {
    q.notify({
      message: 'Passwörter stimmen nicht überein!',
      color: 'red',
    });
    return;
  }

  const payload = {
    benutzername: benutzername.value,
    password: password.value,
  };
  const response = await fetcher.post('/auth/register', payload);
  if (!response.ok) {
    // TODO show error message
  }
  const { token } = await response.json();
  localStorage.setItem('authorization-token', token);
  await router.push('/funde');
}
</script>
