<template>
  <q-page class="row items-center justify-evenly">
    <div class="q-pa-md">
      <q-infinite-scroll @load="fetchFunde" :offset="800">
        <q-card
          v-for="fund in funde"
          :key="fund.fundId"
          class="q-my-md"
          style="max-width: min(90vw, 500px)"
        >
          <q-item>
            <q-item-section avatar>
              <q-avatar
                :color="getAvatarColor(fund.benutzername)"
                text-color="white"
              >
                {{ fund.benutzername.substring(0, 2) }}
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ fund.name }}</q-item-label>
              <q-item-label caption>
                {{ fund.benutzername }}
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-separator/>
          <img :src="fund.bildUrl"/>
          <q-card-section horizontal>
            <div class="col-10">
              <q-card-section vertical>
                <div class="text-h6">{{ fund.name }}</div>
                <div class="text-subtitle2">
                  {{ fund.ort }} - {{ fund.datum }}
                </div>
                <div class="text-subtitle3" style="word-wrap: break-word;">{{ fund.beschreibung }}</div>
              </q-card-section>
            </div>
            <q-card-actions vertical class="justify-center">
              <q-btn
                flat
                round
                :color="getGefaelltColor(fund)"
                icon="favorite"
                @click="toggleGefaellt(fund)"
              />

              <caption>
                {{
                  fund.gefaelltCount
                }}
              </caption>
              <q-icon size="24px" color="green" name="local_florist" class="q-mx-sm"></q-icon>
              <caption>
                {{ fund.avgBewertung }}
              </caption>

            </q-card-actions>
          </q-card-section>

          <q-card-section v-if="fund.gefaellt">
            <q-card-actions horizontal class="justify-center">
              <q-rating
                @update:model-value="(newRating) => setRating(fund, newRating)"
                v-model="fund.myBewertung"
                size="2em"
                color="green-5"
                icon="local_florist"
              />
            </q-card-actions>
          </q-card-section>

        </q-card>
        <template v-slot:loading>
          <div class="row justify-center q-my-md">
            <q-spinner-dots color="primary" size="40px"/>
          </div>
        </template>
      </q-infinite-scroll>
    </div>
  </q-page>
</template>

<script setup>
import {ref} from 'vue';
import {useFetchWrapper} from '../util/fetchWrapper';
import {getAvatarColor} from '../util/avatarColor';

const funde = ref([]);
const fetcher = useFetchWrapper();

async function fetchFunde(index, done) {
  const fetchUrl =
    funde.value.length === 0
      ? '/timeline'
      : '/timeline/' + funde.value.at(funde.value.length - 1).fundId;

  const response = await fetcher.get(fetchUrl);
  const json = await response.json();
  funde.value = funde.value.concat(
    json.funde.map((fund) => {
      return {
        ...fund,
        bildUrl: `${process.env.API_URL}${fund.bildUrl}`,
      };
    })
  );

  const doNotTryToLoadMore = json.funde.length === 0;
  done(doNotTryToLoadMore);
}

function getGefaelltColor(fund) {
  return fund.gefaellt ? 'red' : 'grey';
}

async function toggleGefaellt(fund) {
  if (!fund.gefaellt) {
    fund.gefaellt = true;
    fund.gefaelltCount++;
    await fetcher.post('/gefaellt/' + fund.fundId);
    await refreshBewertung(fund);
  } else {
    fund.gefaellt = false;
    fund.myBewertung = 0;
    fund.gefaelltCount--;
    await fetcher.post('/gefaellt-nicht-mehr/' + fund.fundId);
    await refreshBewertung(fund);
  }
}

async function setRating(fund, newRating) {
  await fetcher.post('/rating/' + fund.fundId + '/' + newRating);
  await refreshBewertung(fund);
}

async function refreshBewertung(fund) {
  const response = await fetcher.get('/rating/' + fund.fundId + '/avg')
  const avgBewertung = await response.text();
  const avgBewertungSanitized = avgBewertung % 1 === 0 ? parseInt(avgBewertung) : avgBewertung;
  funde.value = funde.value.map((currFund) => {
    if (currFund.fundId === fund.fundId) {
      return {
        ...currFund,
        avgBewertung: avgBewertungSanitized
      }
    }
    return currFund;
  });
}
</script>
